[user]
	name = sperkbird
	email = sperkbird@gmail.com
[alias]
	ss = status
	df = diff
  ignore = !"f() { local s=$1; shift; \
    while [ $# -gt 0 ]; do s=\"$s,$1\"; shift; done;\
    curl \"https://www.gitignore.io/api/$s\"; }; f"
	co = checkout
[credential]
	helper = cache
